" Set leader key
let mapleader='\'
let maplocalleader = '\'

set easymotion

" Auto-completion keymaps
map <leader>i :action ShowIntentionActions<CR>

" Navigation
map <leader>h <Action>(Back)
map <leader>l <Action>(Forward)
map <leader>j <Action>(GotoNextError)
map <leader>k <Action>(GotoPreviousError)
map <leader>n <Action>(NextOccurence)
map <leader>p <Action>(PreviousOccurence)
map <leader>m <Action>(FileStructurePopup)
map <C-[> <Action>(ShowUsages)
map <C-S-[> <Action>(FindUsages)
map <C-S-]> <Action>(GotoImplementation)
map <C-p> <Action>(GotoFile)
map <C-S-p> <Action>(GotoSymbol)
map ]h <Action>(VcsShowPrevChangeMarker)
map [h <Action>(VcsShowNextChangeMarker<CRmap

" Code editing
map <leader>e <Action>(RenameElement)

" Code generation
map <leader>gc <Action>(NewClass)
map <leader>ge <Action>(NewEnum)
map <leader>gi <Action>(NewInterface)
map <leader>gf <Action>(NewFile)
map <leader>gg <Action>(Generate)

" Code linting
map <leader>rf <Action>(ReformatCode)
map <leader>ro <Action>(OptimizeImports)

" Execution
map <leader>xr <Action>(Run)
map <leader>xd <Action>(Debug)

