" Set leader key
let mapleader='\'
let maplocalleader = '\'

set easymotion

" Auto-completion keymaps
nnoremap <leader>i :action ShowIntentionActions<CR>

" Navigation
nnoremap <leader>h :action Back<CR>
nnoremap <leader>l :action Forward<CR>
nnoremap <leader>j :action GotoNextError<CR>
nnoremap <leader>k :action GotoPreviousError<CR>
nnoremap <leader>n :action NextOccurence<CR>
nnoremap <leader>p :action PreviousOccurence<CR>
nnoremap <leader>m :action FileStructurePopup<CR>
nnoremap <C-[> :action ShowUsages<CR>
nnoremap <C-S-[> :action FindUsages<CR>
nnoremap <C-S-]> :action GotoImplementation<CR>
" These are broken in 2018.* because of keyboard focus
" noremap <C-p> :action GotoFile<CR>
" noremap <C-S-p> :action GotoSymbol<CR>
" noremap <C-A-p> :action RecentFiles<CR>
nnoremap ]h :action VcsShowPrevChangeMarker<CR>
nnoremap [h :action VcsShowNextChangeMarker<CR>

" Code editing
nnoremap <leader>e :action RenameElement<CR>

" Code generation
nnoremap <leader>gc :action NewClass<CR>
nnoremap <leader>ge :action NewEnum<CR>
nnoremap <leader>gi :action NewInterface<CR>
nnoremap <leader>gf :action NewFile<CR>
nnoremap <leader>gg :action Generate<CR>

" Code linting
nnoremap <leader>rf :action ReformatCode<CR>
nnoremap <leader>ro :action OptimizeImports<CR>

" Execution
nnoremap <leader>xr :action Run<CR>
nnoremap <leader>xd :action Debug<CR>

